{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "jest": true
    },
    "rules": {
        "comma-dangle": 0,
        "no-unused-vars": [
            2,
            {
                "vars": "local",
                "args": "none"
            }
        ],
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": 0,
        "react/jsx-indent-props": 0,
        "react/prop-types": 0,
        "indent": 0,
        "linebreak-style": 0,
        "object-curly-newline": 0,
        "react/destructuring-assignment": [0, "never"],
        "react/jsx-boolean-value": 0,
        "react/jsx-one-expression-per-line": 0,
        "arrow-body-style": [0, "never"]
    }
}